{% extends 'layouts.html' %}
{% block title %}
<title>Product List</title>
{% endblock %}
{% block main_content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVEL.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}
            {% endfor %}

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Brand</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Stock Quantity</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
                {% for item in products %}
                <tr>
                    <td>{{item.brand.brand_name}}</td>
                    <td>{{item.product_name}}</td>
                    <td>{{item.product_price}}</td>
                    <td>{{item.stock}}</td>
                    <td><img src="/{{item.product_image}}" alt=""></td>
                    <td>{{item.product_description}}</td>
                    <td>{{item.category.category_name}}</td>
                    <td>
                        <a href="#" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="/Products/deleteproduct/{{item.id}}" onclick="return confirm('Are you sure want to delete this product?')" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}