{% extends 'layouts.html' %}
{% block title %}
<title>Category List</title>
{% endblock %}
{% block main_content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{msg}}
            </div>
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVEL.ERROR %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}
            {% endfor %}

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
                {% for item in category %}
                <tr>
                    <td>{{item.category_name}}</td>
                    <td><a href="#"><i class="fa-solid fa-pen-to-square" class="btn btn-primary"></i></a>
                        <a href="/Products/deletecategory/{{item.id}}" onclick="return confirm('Are you sure want to delete this category?')"
                            class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}